// formulario
.form2{
  background-color: $colorsecundary;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2.5em;
  margin: auto;
  max-width: 400px;
  width: 90%;
  padding: 4em 3em;
  border-radius: 5px;
  box-shadow: 0 5px 10px -5px;
  margin-bottom: 3rem;

  .form2__contenido {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-family: $stylefont;
    font-size: 1rem;

    input,select {
      padding: 10px;
      font-family: 'Rubik', sans-serif;
      font-size: 1rem;
      border-radius: 5px;
      border: none;
    }
    .form2__contenido__radio {
      display: block;
      gap: 4px;
      padding: 10px;
    }
  }
  .form2__bton {

    input {
      display: inline-block;
      background-color: $colorbtn;
      color: $colorfsecundary;
      padding: 10px 14px;
      margin: 8px 0px 32px 0px;
      border-radius: 12px;
      font-family: $stylefont;  
      font-size: 1rem;
      border: 0;
      font-weight: 600;
      margin: 5px;
    }
  }
}