//carrusel
#carouselExample {
  .carousel-inner{
    .carousel-item {
      .carousel-img {
        display: block;
        width: 100%;
        object-fit: cover;
        height: auto;
      }
    }
  }
}

// tarjetas infomativas
.card-group {
  .card {
    border: none;
    border-radius: 0;
    padding: 0.6rem;
    text-align: center;
    
    
    

    .bi {
      text-align: center;
      font-size: 2.5em;
    }
    .card-body{

      .card-title {
        font-size: 16px;
        font-weight: 700;
      }
    }
  }
}
// servicios
.services{

  .seccion-row {
    padding-top: 1rem;
  }
  .card-servicios {
    height: 100%;
    background-color: $colorbg;
    border: none
}
}
.card {
    img{
      @include imagen (cover,none);
    }
  }


// reseñas
.gallery-titulo {
  font-size: 3rem;
  margin-top: 1em;
  font-family: 'Rubik', sans-serif;
  text-align: center;
  font-weight: bold;
  text-shadow: 4px 4px 5px $colorfsecundary;
  background-color: $colorfsecundary;
}

.gallery {
padding-bottom: 3em;
padding-top: 1em;
display: grid;
grid-template-columns: repeat(6,1fr);
grid-auto-rows: 192px;
grid-template-areas:
"img1 img2 img3 img3 img4 img5"
"img1 img6 img3 img3 img4 img5"
;
gap: 0.8em;

  .gallery-picture{
    position: relative;
    cursor: pointer;
    overflow: hidden;

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 0 3em;
      background:$colorbtn;
      font-family: $stylefont;
      display: flex;
      font-style: oblique;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      opacity: 0;
      transition: opacity 0.25s;


      .overlay-resena {
        color: $colorfsecundary;
        font-size: 1.10em;
        margin-top:  0.25em; 
      }

      .overlay-cite {
        color: $colorfsecundary;
        font-weight: bold;
        font-size: 1em;
      }
    }
  }

  .overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s ;
  }

  .overlay:hover {
    opacity: 1;
  }

  .overlay:hover > * {
    transform: translateY(0);
  }

  .gallery-img {
    width: 100%;
    height:100%;
    object-fit: cover;
  }

  .gallery-picture--g1{
    grid-area: img1;
  }

  .gallery-picture--g2{
    grid-area: img2;
  }

  .gallery-picture--g3{
    grid-area: img3;
  }

  .gallery-picture--g4{
    grid-area: img4;
  }

  .gallery-picture--g5{
    grid-area: img5;
  }

  .gallery-picture--g6{
    grid-area: img6;
  }

}

.ejemplo-sass{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aqua;
  gap: 10px;


  .caja {
    @include tamanio (400px ,300px);
    background-color: azure;
    
  }
}