.seccion-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 350px;
  background-color: $colorbtn;
  padding-top: 1.5rem;

  .logo-footer{
    width: 140px;
  }
  .parrafo-footer {
    text-align: center;
    text-decoration: dashed;
    font-style: italic;
    padding: 20px;
    font-size: 1.5rem;
    margin-bottom: 0;
    color: $colorfsecundary;

    span {
      font-weight: bold;
      color: $colorfsecundary;
    }
  }

  .iconos-footer {

    a{
      @extend %iconos;
    }
    i {
      transition: all 0.2s ease-in;
      color: $colorfsecundary;
      font-size: 2rem;
    }
    a:hover {
      background-color: rgba(255, 255, 255, 0.316);
      border-radius: 50%;
    }
    a:hover i {
      color: rgb(252, 247, 255);
    }
  }
  .firma-footer {
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: $colorterciary;
    width: 100%;

    .container {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
    background-color: $colorterciary;

    p {
      text-align: center;
      letter-spacing: .01em;
      color: $colorfsecundary;
      font-size: 15px;

    span {
      color: $colorfterciary;
      font-weight: 500;
    }

    }
    }
    
  }
}

