.seccion-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  min-height: 350px;
  background-color: $colorbtn;

  .logo-footer{
    height: 80px;
    width: 80px;
    margin: 10px;
    border-radius: 50%;
  }
  .parrafo-footer {
    text-align: center;
    text-decoration: dashed;
    font-style: italic;
    padding: 20px;
    font-size: 1.5rem;
    margin-bottom: 0;

    span {
      font-weight: bold;
    }
  }

  .iconos-footer {

    a{
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 2px;
      margin: 10px;
      transition: all 0.2s ease-in;
    }
    i {
      transition: all 0.2s ease-in;
      color: $colorfprimary;
      font-size: 2rem;
    }
    a:hover {
      background-color: rgba(255, 255, 255, 0.316);
      border-radius: 50%;
    }
    a:hover i {
      color: rgb(252, 247, 255);
  }
  }
  .firma-footer {
    background-color:$colorfprimary;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    p {
      color: rgb(252, 247, 255);
      margin-top: 1rem;
    }
    span {
      font-weight: bold;
      font-style: italic;
      color: $colorfsecundary;
    }
  }
}