// BARRA DE NAVEGACION 
.navbar {
  width: 100%;
  background: rgba(255, 255, 255, 0.316);
  color: #ff7bda;
  padding: 11px 15px;
  font-size: 16px;
  color: #fff;
  overflow: hidden;

    .container-fluid {

      .nav-titulo {
        padding-top: var(--bs-navbar-brand-padding-y);
        padding-bottom: var(--bs-navbar-brand-padding-y);
        margin-right: var(--bs-navbar-brand-margin-end);
        font-size: var(--bs-navbar-brand-font-size);
        color: $colorfprimary;
        text-decoration: none;
        white-space: nowrap;
        font-weight: bold;
      }

      .offcanvas {

        .offcanvas-body {

          .navbar-nav {

            .nav-item {
              a {
                color:$colorfprimary;}
              .nav-link .active{
                color: $colorfprimary;
              }
          }
        }
      }
    }
  }
  }