.navbar {
  background-color: $colorsecundary;
  a {
    color: $colorfprimary;
    font-weight: bold;
    img {
      width: 50px;
    }
  }
  #offcanvasNavbar {
    background-color: $colorsecundary;
  }
}
.dropdown {
  .dropdown-menu{
    border: none;
    background-color: $colorsecundary;
  }
}
