@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,300;0,400;1,200&family=Prosto+One&family=Rubik:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap');

// Style Fonts
$colorfprimary:#2F4858;
$colorfsecundary:#FCF8FF;
$colorfterciary:#fff;
$stylefont:'Rubik', sans-serif;

// colors pages
$colorprimary:#FAACA8;
$colorsecundary:#DDD6F3;
$colorbg:#FCF7FF;
$colorbtn:#D593A8;
$colorterciary: #9D6074;